.alpaca-image-container {
  height: 80%;
  width: 80%;
  background-color: #0c295e;
}

.alpaca-image-accessories {
}

.alpaca-image-backgrounds {
}

.alpaca-image-ears {
}

.alpaca-image-eyes {
}

.alpaca-image-hair {
}

.alpaca-image-leg {
}

.alpaca-image-mouth {
}

.alpaca-image-neck {
}
