@media (max-width: 480px) {
}

@media (max-width: 768px) {
  .app-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .app-header {
    height: min-content;
    width: 100%;
    border: dashed red;
  }

  .app-title {
  }

  .app-main {
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .app-section-left {
    height: 500px;
    width: 250px;
    border: dashed red;
  }

  .app-section-left-buttons {
  }

  .app-section-right {
    height: 500px;
    width: 250px;
    border: dashed red;
  }

  .app-section-right-group {
  }

  .app-sub-title {
  }

  .app-section-right-buttons {
  }
}

@media (max-width: 1024px) {
  .app-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .app-header {
    height: min-content;
    width: 100%;
    border: dashed red;
  }

  .app-title {
  }

  .app-main {
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .app-section-left {
    height: 500px;
    width: 250px;
    border: dashed red;
  }

  .app-section-left-buttons {
  }

  .app-section-right {
    height: 500px;
    width: 250px;
    border: dashed red;
  }

  .app-section-right-group {
  }

  .app-sub-title {
  }

  .app-section-right-buttons {
  }
}

@media (max-width: 1200px) {
  .app-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .app-header {
    height: min-content;
    width: 100%;
    border: dashed red;
  }

  .app-title {
  }

  .app-main {
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .app-section-left {
    height: 500px;
    width: 250px;
    border: dashed red;
  }

  .app-section-left-buttons {
  }

  .app-section-right {
    height: 500px;
    width: 250px;
    border: dashed red;
  }

  .app-section-right-group {
  }

  .app-sub-title {
  }

  .app-section-right-buttons {
  }
}

@media (min-width: 1201px) {
  .app-container {
    height: 550px;
    width: 1150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 50px;
    background-color: #ebebec;
  }

  .app-header {
    height: min-content;
    width: 100%;
  }

  .app-title {
  }

  .app-main {
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .app-section-left {
    height: 500px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .app-alpaca-image-container {
    height: 80%;
    width: 80%;
    background-color: #0c295e;
  }

  .app-section-left-buttons {
    height: 17.5%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .app-section-right {
    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .app-section-right-group {
    width: 100%;
    margin-bottom: 30px;
  }

  .app-sub-title {
    font-size: 20px;
    margin: 7px 0;
  }

  .app-section-right-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
