@media (max-width: 480px) {}
@media (max-width: 768px) {
  .app-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .app-header {
    height: min-content;
    width: 100%;
    border: dashed red;
  }
  
  .app-title {
  }
  
  .app-main {
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .app-section-left {
    height: 500px;
    width: 250px;
    border: dashed red;
  }
  
  .app-section-left-buttons {
  }
  
  .app-section-right {
    height: 500px;
    width: 250px;
    border: dashed red;
  }
  
  .app-section-right-group {
  }
  
  .app-sub-title {
  }
  
  .app-section-right-buttons {
  }
}
@media (max-width: 1024px) {
  .app-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .app-header {
    height: min-content;
    width: 100%;
    border: dashed red;
  }
  
  .app-title {
  }
  
  .app-main {
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .app-section-left {
    height: 500px;
    width: 250px;
    border: dashed red;
  }
  
  .app-section-left-buttons {
  }
  
  .app-section-right {
    height: 500px;
    width: 250px;
    border: dashed red;
  }
  
  .app-section-right-group {
  }
  
  .app-sub-title {
  }
  
  .app-section-right-buttons {
  }
}
@media (max-width: 1200px) {
  .app-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .app-header {
    height: min-content;
    width: 100%;
    border: dashed red;
  }
  
  .app-title {
  }
  
  .app-main {
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .app-section-left {
    height: 500px;
    width: 250px;
    border: dashed red;
  }
  
  .app-section-left-buttons {
  }
  
  .app-section-right {
    height: 500px;
    width: 250px;
    border: dashed red;
  }
  
  .app-section-right-group {
  }
  
  .app-sub-title {
  }
  
  .app-section-right-buttons {
  }  
}
@media (min-width: 1201px) {
  .app-container {
    height: 550px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid red;
  }
  
  .app-header {
    height: min-content;
    width: 100%;
    border: 1px solid red;
  }
  
  .app-title {
  }
  
  .app-main {
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .app-section-left {
    height: 500px;
    width: 450px;
    border: 1px solid red;
  }
  
  .app-section-left-buttons {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
  }
  
  .app-section-right {
    height: 500px;
    width: 450px;
    border: 1px solid red;
  }
  
  .app-section-right-group {
  }
  
  .app-sub-title {
  }
  
  .app-section-right-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }  
}
